<div class="form-group row justify-content-md-center error">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="text-center">
      <h4>LOG IN</h4>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="center text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row justify-content-md-center">
          <div class="col-3">
            <%= f.label :email , class: "col-form-label" %>
          </div>
          <div class="col-9">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group  row justify-content-md-center">
          <div class="col-3">
            <%= f.label :password , class: "col-form-label" %>
          </div>
          <div class="col-9">
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="form-group  row justify-content-md-center">
          <%= f.submit "Log in" ,class: "btn btn-primary"   %>
        </div>
      <% end %>
    </div>
  </div>
</div>


