<p id="notice"><%= notice %></p>

<h4>Picture Database</h4>
<div id="myGrid" style="width:100%; height:500px;"></div>
<br>
<%= link_to 'Upload Photos', new_photo_path %>
<script>
  locationsList = {
    <% @locations.each do |location| %>
    "<%= location.id.to_s %>": "<%= location.name %>",
    <% end %>
  };
</script>