// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 100%;
  height: 500px;
  background-color: grey;
}

ul.photo_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    padding: 1em;
  }
}

.fa-red {
  color: #F76458;
}

.fa-black {
  color: black;
}

.fa-yellow {
  color: yellow;
}

.fa-green {
  color: green;
}

.feature-canvas { 
  position: absolute; top:0px; left:0px;
}

#inspection-panel {
  max-width: 644px;
}

.zoom-nav {
  padding-top: .5em;
  i {
    margin-right: 1.5em;
  }
  .zoom-in, .zoom-out {
    cursor: pointer;
  }
}

#feature-list {
  font-size: .8em;
}