<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <%= form_with(model: location) do |form| %>
        <% if location.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
            <ul>
              <% location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :line_type %>
          <%= form.text_field :line_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :lat %>
          <%= form.text_field :lat, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :lng %>
          <%= form.text_field :lng, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :alt %>
          <%= form.text_field :alt, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :temperature %>
          <%= form.text_field :temperature, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :last_inspection %>
          <%= form.text_field :last_inspection, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :pole_number %>
          <%= form.text_field :pole_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :line_number %>
          <%= form.text_field :line_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :line_type %>
          <%= form.text_field :line_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :last_repair %>
          <%= form.text_field :last_repair, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :last_failure %>
          <%= form.text_field :last_failure, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :last_failure_type %>
          <%= form.text_field :last_failure_type, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "Save" , class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>