<ul class="list-group">
   <li class="list-group-item"><b><span id="poi_value"><%= l.name %></span></b></li>
   <li class="list-group-item">Line type:&nbsp;<span id="line_type_value"><%= l.line_type %></span> kV</li>
   <li class="list-group-item">Lat:&nbsp;<span id="lat_value"><%= l.lat %></span></li>
   <li class="list-group-item">Long:&nbsp;<span id="long_value"><%= l.lng %></span></li>
   <li class="list-group-item">Alt:&nbsp;<span id="alt_value"><%= l.alt %></span> ft</li>
   <li class="list-group-item">Temperature:&nbsp;<span id="alt_value"><%= l.temperature %></span>&deg;F</li>
   <li class="list-group-item">Last Inspection:&nbsp;<span id="last_inspection_value"><%= l.last_inspection %></span></li>
   <li class="list-group-item">Pole #:&nbsp;<span id="pole_value"><%= l.pole_number %></span></li>
   <li class="list-group-item">Line #:&nbsp;<span id="line_value">9<%= l.line_number %></span></li>
   <li class="list-group-item">Last Repair:&nbsp;<span id="last_repair_value"><%= l.last_repair %></span></li>
   <li class="list-group-item">Last Failure Type:&nbsp;<span id="last_failure_type_value"><%= l.last_failure_type %></span></li>
   <li class="list-group-item">Last Failure Date:&nbsp;<span id="last_failure_date_value"><%= l.last_failure_type %></span></li>
</ul>
<br />
<a id="details_view_link" href="/locations/<%= l.id.to_s %>" class="btn btn-primary btn-block" id="location_detail_link">Detailed View</a>