<div id="indexCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <% l.photos.all.each_with_index do |photo,index| %>
    <div class="carousel-item <%='active' if index == 1 %>">
      <img class="d-block img-fluid" src="<%= photo.attachment.url(:medium) %>" alt="<%= photo.attachment.original_filename %>">
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>