<h1>Editing <%= @location.name %></h1>

<%= render 'form', location: @location %>

<%= link_to 'Show', @location ,class: "btn btn-primary"  %>	
<%= link_to 'Back', locations_path,class: "btn btn-outline-secondary"  %>
