<div class="row">
  <div class="col">
    <div class="card" id="details-preview">
      <div class="card-header">
        Detailed Status
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item"><b><span id="poi_value"></span></b></li>
          <li class="list-group-item">Line type:&nbsp;<span id="line_type_value"></span></li>
          <li class="list-group-item">Lat:&nbsp;<span id="lat_value"></span></li>
          <li class="list-group-item">Long:&nbsp;<span id="long_value"></span></li>
          <li class="list-group-item">Alt:&nbsp;<span id="alt_value"></span></li>
          <li class="list-group-item">Temperature:&nbsp;<span id="alt_value"></span></li>
          <li class="list-group-item">Last Inspection:&nbsp;<span id="last_inspection_value"></span></li>
          <li class="list-group-item">Pole #:&nbsp;<span id="pole_value"></span></li>
          <li class="list-group-item">Line #:&nbsp;<span id="line_value"></span></li>
          <li class="list-group-item">Last Repair:&nbsp;<span id="last_repair_value"></span></li>
          <li class="list-group-item">Last Failure Type:&nbsp;<span id="last_failure_type_value"></span></li>
          <li class="list-group-item">Last Failure Date:&nbsp;<span id="last_failure_date_value"></span></li>
        </ul>
        <br />
        <a id="details_view_link" href="/locations/<%= @locations.first.id.to_s %>" class="btn btn-primary btn-block" id="location_detail_link">Detailed View</a>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">
        Report Panel
      </div>
      <div class="card-block">
        <%= form_tag report_locations_path(format: :pdf) do-%>
          <%= hidden_field_tag 'selected_markers' %>
          <%= submit_tag "Generate Report", id: "report_submit", class: "btn btn-warning btn-block", disabled: true%>
          <a href="#" class="btn btn-secondary btn-block">Clear All</a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div id="map"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th># of Photos</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td class="col-6"><%= location.name %></td>
            <td class="col-6"><%= location.photos.count %></td>
            <td class="col-2"><%= link_to '<i class="fa fa-map-marker"></i>'.html_safe, location %></td>
            <td class="col-2"><%= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_location_path(location)  %></td>
            <td class="col-2"><%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, location, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <% if @locations.present? %>
    <script>
      var first_location_id = "<%= @locations.first.id.to_s %>";
      function initMap() {
        var selecting=false;
        selectedMarkers = [];
            window.onkeydown = function(e) {
            if(e.which == 91 || e.which == 17){
              selecting = true;  
            }
          }
          window.onkeyup = function(e) {
            selecting = false;
          }
        var uluru = {lat: <%= @locations[0].lat %>, lng: <%= @locations[0].lng %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.HYBRID,
          center: uluru
        });
        <% @locations.each_with_index do |location, i| 
          content = '<ul class="photo_list">'
          for photo in location.photos do
            content += "<li><img src=\"#{photo.attachment.url(:medium)}\"></li>"
          end
          content += '</ul>'
        %>
        infowindow_<%= i %> = new google.maps.InfoWindow({
          content: '<%= raw content %>'
        });

        marker_<%= i %> = new google.maps.Marker({
          position: {lat: <%= location.lat %>, lng: <%= location.lng %>},
          map: map,
          title: "<%= location.name %>",
          animation: google.maps.Animation.DROP,
          id: "<%= location.id %>",
          icon: "<%=location.user_anomaly_detected ? 'https://www.google.com/mapfiles/marker.png' : 'https://www.google.com/mapfiles/marker_yellow.png' %>"
        });
        var markers = [];
        marker_<%= i %>.addListener('click', function(event) {
          
          if (selecting) {
            selectedMarkers.push(marker_<%= i %>.id);  
            marker_<%= i %>.setIcon('https://www.google.com/mapfiles/marker_black.png');
             $('input#selected_markers').val(selectedMarkers.join(","));
             $('input#report_submit').prop('disabled', false);
          }else{
            $('#details_view_link').attr("href", "/locations/"+marker_<%= i %>.id);
            update_location(marker_<%= i %>.id);
          }
        });
        <% end %>
      }
      
      function update_location(id) {
        $.get("/locations/" + id + ".js", function( ) {
      });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7yG3_RN21nDgK5gWa-v4Doar92gO7wo&callback=initMap" type="text/javascript"></script>
    <% end %>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Legend
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-map-marker fa-2x fa-yellow mr-2" aria-hidden="true"></i>Not Validated</li>
          <li class="list-group-item"><i class="fa fa-map-marker fa-2x fa-green mr-2" aria-hidden="true"></i>No Anomalies</li>
          <li class="list-group-item"><i class="fa fa-map-marker fa-2x fa-red mr-2" aria-hidden="true"></i>Anomaly Detected</li>
          <li class="list-group-item"><i class="fa fa-map-marker fa-2x fa-black mr-2" aria-hidden="true"></i>Selected</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="card" id="inspection-preview">
      <div class="card-header">
        Inspection Preview
      </div>
      <div class="card-block">
        <div id="indexCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <% Photo.all.limit(3).each_with_index do |photo,index| %>
            <div class="carousel-item <%='active' if index == 1 %>">
              <img class="d-block img-fluid" src="<%= photo.attachment.url(:medium) %>" alt="<%= photo.attachment.original_filename %>">
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>