<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "report" %>
    <%= wicked_pdf_javascript_include_tag "jquery" %>
    <%= wicked_pdf_javascript_include_tag "location" %>
    <script>
      $(document).ready(function() {
      <% @locations.each do |location| %>
        <% location.photos.each do |photo| %>
          <% photo.features.each do |feature| %>
            draw_feature("canvas_<%= photo.id.to_s %>", [<%= feature["coordinates"][0] %>, <%= feature["coordinates"][1] %>, <%= feature["coordinates"][2] %>, <%= feature["coordinates"][3] %>], "<%= feature["color"] %>", .55, "<%= feature["count"] %>");
          <% end %>
        <% end %>
      <% end %>
      });
    </script>
  </head>
  <body>
    <h1 id="report_header">Report</h1>
    <% @locations.each_with_index do |location, l_idx| %>
      <h2 class="<%= l_idx > 0 ? "alwaysbreak" : "" %>"><%= location.name %></h2>
      <% location.photos.each_with_index do |photo, p_idx| %>
      <div class="container<%= p_idx > 0 ? " alwaysbreak" : "" %>">
        <div class="row">
          <div class="col-6">
            <%= wicked_pdf_image_tag photo.attachment.url(:medium) %>
          </div>
          <div class="col-6">
            <%= wicked_pdf_image_tag photo.attachment.url(:medium), width: 300, height: 225 %>
            <canvas id="canvas_<%= photo.id.to_s %>" class="feature-canvas" width="300" height="225"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <% if photo.features.count > 0 %>
              <table>
                <tr>
                  <th class="text-left">Feature</th>
                  <th>Confidence</th>
                </tr>
                <% photo.features.each do |feature| %>
                  <tr>
                    <td><%= feature["name"] %></td>
                    <td class="text-right"><%= feature["confidence_percent"] %>%</td>
                  </tr>
                <% end %>
              </table>
            <% end %>
            <p>Notes: <%= photo.notes %></p>
            <p>
              <small class="text-muted">Time updated at: <%= photo.attachment_updated_at %></small>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </body>
<html>