<h2><%= @location.name %></h2>
<form id="photo_form">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Machine Learning Results
        </div>
        <div class="card-block">
          <ul id="feature-list" class="list-group"></ul>
        </div>
      </div>
      <br />
      <div class="card" id="photo-notes">
        <div class="card-block">
          <input id="user-anomaly" type="checkbox" name="user_anomaly_detected" data-location-id="<%=@location.id%>" value="user_anomaly_detected" <%=@location.user_anomaly_detected ? "checked" : '' %> > User Anomaly detected<br>
        </div>
      </div>
      <br/>
      <div class="card" id="photo-notes">
        <div class="card-header">
          <label for="photo_notes">Notes</label>
        </div>
        <div class="card-block">
          <div class="form-group">
            <input type="hidden" name="photo_id" id="photo_id">
            <textarea name="photo_notes" id="photo_notes" cols="40" rows="5" class="form-control"></textarea>
          </div>
          <div class="form-group" style="margin-bottom:0;">
            <input type="submit" value="Save" class="btn btn-outline-primary">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" id="inspection-panel">
        <div class="card-header">
          Inspection Preview
        </div>
        <div class="card-block">
          <div id="detailsCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <% @location.photos.each_with_index do |photo,index| %>
              <div class="carousel-item <%='active' if index == 1 %>">
                <div class="panzoom">
                  <img id="<%= photo.id.to_s %>" src="<%= photo.attachment.url(:original) %>" alt="<%= photo.attachment.original_filename %>" width="600" height="400">
                  <canvas id="canvas_<%= photo.id.to_s %>" class="feature-canvas" width="600" height="400"></canvas>
                </div>
              </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#detailsCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#detailsCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="zoom-nav">
            <i class="fa fa-plus zoom-in" aria-hidden="true"></i><i class="fa fa-minus zoom-out" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>

  var location_id = "<%= @location.id.to_s %>";

</script>