$('#inspection-preview .card-block').html("<%=raw escape_javascript render(:partial => 'photo_carousel', :locals => { :l => @location }) %>");
$('#details-preview .card-block').html("<%=raw escape_javascript render(:partial => 'location_details', :locals => { :l => @location }) %>");