<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><%= image_tag "avisight.png", alt: "AviSight", id: "logo" %></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="<%=locations_path%>">Dashboard <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=photos_path%>">Photos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=new_photo_path%>">Upload Photos<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-right mr-1">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-2x"></i>
        </a>
        <ul class="dropdown dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><%= link_to destroy_user_session_path, method: :delete do -%>
              <i class="fa fa-sign-out fa-fw"></i>Logout
            <%end%>
            </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
    </ul>
    <!--
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search locations">
    </form>
    -->
  </div>
</nav>