<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AviSight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>

  <body>
    <div id="wrapper">
      <%= render partial: "layouts/navbar"%>
      <div class="container-fluid" id="notice">
      </div>
      <div class="container-fluid" id="main">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "layouts/footer"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
