<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AviSight Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>

  <body>
    <div id="wrapper">
      <div class="container-fluid" id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
